#nav-left {
  justify-self: start;
}

#nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#nav-right {
  justify-self: end;
}

.nav-item-anchor {
  padding: 3px 6px;
  text-decoration: none;
  text-shadow: 3px 3px 9px black;
  color: #f9f9f9;
  background-color: rgb(40, 40, 40);
  border: none;
  border-radius: 6px;
}

.nav-item-anchor:hover {
  background-color: rgb(0, 100, 255);
}

.nav-item-switch {
  color: black;
}