@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  background-color: rgb(40, 40, 40);
  --primary-text-color: #f9f9f9;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: var(--primary-text-weight);
}
